<body id="root">
    <div class="ui inverted vertical center aligned segment">
      <div class="ui content container">
        <h1 class="ui inverted header">Submit Your Entry</h1>
        <!--  SUBMISSION FORM-->
        <form
          class="flex-form"
          [formGroup]="submissionForm"
          (ngSubmit)="onSubmit()"
        >
          <!-- Name -->
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" />
          <div
            class="errorText"
            *ngIf="
              submissionForm.controls.name.touched &&
              submissionForm.controls.name.invalid
            "
          >
            Name is required.
          </div>

          <!-- Email -->
          <label for="email">Email:</label>
          <input type="text" id="email" formControlName="email" />
          <div
            class="errorText"
            *ngIf="
              submissionForm.controls.email.touched &&
              submissionForm.controls.email.invalid
            "
            class="error-message"
          >
            Email is required.
          </div>
          <div
            class="errorText"
            *ngIf="submissionForm.get('email')?.hasError('email')"
          >
            Please enter a valid email address.
          </div>

          <!-- Photo -->
          <label for="photo">Photo:</label>
          <input type="file" id="photo" formControlName="photo" (change)="onFileSelected($event)"/>
          <div
            class="errorText"
            *ngIf="submissionForm.get('photo')?.hasError('required')"
          >
            Please select a photo.
          </div>

          <!-- Comments -->
          <label for="comments">Comments:</label>
          <textarea id="comments" formControlName="comments"></textarea>

          <!-- Submit Button -->
          <button class="button" type="submit">Submit</button>
          <button class="button" *ngIf="submittedForm">
            <a class="button" routerLink="/grid-data"> See The Competition! </a>
          </button>
        </form>
      </div>
    </div>
  </body>
